nav {
    font-weight: bold;

    .nav-wrapper {
        .container {
            max-width: none;
            width: 90%;
        }

        li a {
            font-size: 1.3rem;
        }

        .brand-logo {
            font-size: 3.1rem;
        }
    }


}