.swiper-container {
    width: 100vw;
    height: 400px;

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
        background-color: rgba(17, 10, 10, 0.596);
        padding: 3rem;
        font-weight: bold;
    }

    .swiper-button-next {
        right: 30px;
    }

    .swiper-button-prev {
        left: 30px;
    }
}



@media screen and (min-width: 601px) and (max-width: 992px) {
    .swiper-container .swiper-button-next, .swiper-container .swiper-button-prev{
        padding: 2rem;
    }
}

@media screen and (max-width: 600px) {
}
