.swiper-container {
    width: 100vw;
    height: 400px;
}

.swiper-slide,
.img {
    width: 100% !important;
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

// .swiper-button-next,
// .swiper-button-prev {
//     color: black !important;
// }